@charset "UTF-8";


#container {
  overflow: hidden;
}

.faq {
  border-bottom: 1px solid #e5e5e5;

  &Nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &__item {
      display: inline-block;
      background: #eeeeee;
      text-align: center;
      width: 100%;
      height: 115px;
      border: 2px solid #fff;
      color: #111;
      padding-top: 28px;

      &:before {
        content: "";
        display: block;
        margin: 0 auto 15px;
      }

      &.-type01 {
        &:before {
          background: url("../images/customer/icon_faqNav01.png");
          width: 32px;
          height: 34px;
          background-size: cover;
        }
      }

      &.-type02 {
        &:before {
          background: url("../images/customer/icon_faqNav02.png");
          width: 34px;
          height: 33px;
          background-size: cover;
        }
      }

      &.-type03 {
        &:before {
          background: url("../images/customer/icon_faqNav03.png");
          width: 30px;
          height: 34px;
          background-size: cover;
        }
      }
    }

    &__txt {
      text-align: center;
      font-size: 13px;
      padding: 32px 0 35px;
      width: 100%;
      color: #111;

      i {
        display: block;
        font-size: 17px;
        margin-top: 10px;
        font-weight: bold;

        &:before {
          content: "";
          display: inline-block;
          background: url("../images/customer/icon_faqNav04.png");
          width: 19px;
          height: 19px;
          background-size: cover;
          margin-right: 5px;
        }
      }

      + .faqNav__txt {
        position: relative;

        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          top: 25px;
          width: 1px;
          height: 52px;
          background: #e5e5e5;
        }
      }

    }
  }

  &Top {
    margin-top: 40px;

    &__tit {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }

    &__list {
      margin-top: 18px;
      border-top: 1px solid #111111;
    }

    &__item {
      border-bottom: 1px solid #ededeb;
      padding: 25px 0 25px 25px;

      .anw {
        margin-top: 10px;
        display: none;
      }
    }
  }

}


.manager {
  padding: 30px 25px 0;

  &__tit {
    font-size: 18px;
  }

  &__txt {
    font-size: 14px;
    line-height: 20px;
  }

  &__sub {
    font-size: 17px;
    margin-top: 40px;
    font-weight: bold;

    + .manager__txt {
      margin-top: 10px;
    }
  }

  &Step {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 50px;

    &__item {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 14px;
      position: relative;

      i {
        font-size: 12px;
      }

      &:before {
        content: "";
        display: block;
        width: 85px;
        height: 85px;
        margin: 0 auto 15px;
      }

      &.-type01 {
        &:before {
          background: url("../images/customer/icon_step01.png");
          background-size: cover;
        }
      }

      &.-type02 {
        &:before {
          background: url("../images/customer/icon_step02.png");
          background-size: cover;
        }
      }

      &.-type03 {
        &:before {
          background: url("../images/customer/icon_step03.png");
          background-size: cover;
        }
      }

      &:after {
        content: "";
        display: inline-block;
        background: url("../images/customer/icon_arrow_r.png");
        background-size: cover;
        width: 7px;
        height: 13px;
        position: absolute;
        top: 37px;
        right: -5px;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }

  }
}

.store {
  &Step {
    border-bottom: 1px solid #e5e5e5;
    padding: 0 25px 28px;

    &__list {
      margin-bottom: 50px;
    }

    &__item {
      background: #eeeeee;
      height: 85px;
      width: 100%;
      padding-left: 133px;
      position: relative;

      small {
        margin-top: 27px;
        display: inline-block;
      }

      p {
        font-size: 16px;
        margin-top: 5px;
        font-weight: bold;
      }

      + .storeStep__item {
        margin-top: 26px;
      }

      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 62px;
        top: 23px

      }

      &.-type01 {
        &:before {
          background: url("../images/customer/store_step01.png");
          background-size: cover;
          width: 45px;
          height: 34px;
        }
      }

      &.-type02 {
        &:before {
          background: url("../images/customer/store_step02.png");
          background-size: cover;
          width: 42px;
          height: 37px;
        }
      }

      &.-type03 {
        &:before {
          background: url("../images/customer/store_step03.png");
          background-size: cover;
          width: 42px;
          height: 36px;
        }
      }

      &.-type04 {
        &:before {
          background: url("../images/customer/store_step04.png");
          background-size: cover;
          width: 41px;
          height: 38px;
        }
      }

      &.-type05 {
        &:before {
          background: url("../images/customer/store_step05.png");
          background-size: cover;
          width: 41px;
          height: 41px;
        }
      }

      &:after {
        content: "";
        display: inline-block;
        background: url("../images/customer/icon_arrow_b.png");
        background-size: cover;
        width: 13px;
        height: 7px;
        position: absolute;
        bottom: -16px;
        left: 50%;
        margin-left: -7px;
      }

      &:last-of-type {
        &:after {
          display: none;
        }
      }

    }

    .dotList {
      li {
        line-height: 24px;
      }
    }
  }

  &Inquiry {
    padding: 0 25px 28px;

    &__txt {
      color: #999;
      margin-top: 20px;
    }

    &__info {
      margin: 40px 0;
      line-height: 18px;

      .num {
        margin-top: 5px;

        span {
          display: inline-block;
          width: 60px;
          font-weight: bold;
        }
      }
    }


  }
}

.board {
  .selectList {
    select {
      width: 100%;
      background: #eeeeee;
      border: 0;
    }

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      background: url("../images/customer/board_arrow.png");
      background-size: cover;
      width: 13px;
      height: 7px;
      top: 17px;
      z-index: 10;
      left: 115px;
    }
  }

  &__item {
    color: #111111;
    line-height: 21px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    width: 100%;

    &Txt {
      padding: 25px;

    }

    .date {
      font-size: 13px;
      color: #999999;
    }

    .anw {
      display: none;
      background: #eeeeee;
      padding: 30px 25px 40px;
    }

  }
}

.terms {
  padding: 0 15px;

  .selectList {
    &__tit {
      position: absolute;
      font-weight: bold;
      top: 12px;
      left: 15px;
    }

    select {
      padding-left: 75px;
    }

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      background: url("../images/customer/board_arrow.png");
      background-size: cover;
      width: 13px;
      height: 7px;
      top: 17px;
      z-index: 10;
      right: 15px;
    }
  }

  .scroll_box {
    height: 285px;
    overflow-y: scroll;
    border: 1px solid #cccccc;
    border-top: 0;
    padding: 20px;
  }

}

.map {
  &Result {
    margin-top: 40px;

    &__tit {
      font-size: 17px;
      font-weight: bold;
      border-bottom: 1px solid #111;
      padding-left: 25px;
      padding-bottom: 15px;
    }

    &__local {
      margin-top: 50px;

      .sub_txt {
        padding-left: 25px;
      }

      select {
        padding-left: 25px;

      }

      .selectList:before {
        left: 142px;
      }


    }

    &__list {
      .tit {
        font-weight: bold;
        font-size: 16px;
        color: #111111;
      }

      .txt {
        margin-top: 20px;
        line-height: 20px;
      }

      .btnGroup {
        margin-top: 30px;
      }

      .btn {
        border: 1px solid #dddddd;
        line-height: 40px;
        height: 40px;
        color: #666666;
        font-weight: bold;

        + .btn {
          margin-left: 10px;

        }

        &.-map.-active {
          border: 1px solid #111111;
        }
      }
    }

    &__item {
      border-bottom: 1px solid #dddddd;
      position: relative;

      .itemMap {
        display: none;
        margin-bottom: -3px;

      }

      .inner {
        padding: 25px;
      }
    }
  }
}

.contact {
  &__item {
    padding: 30px 25px;
    border-top: 1px solid #e5e5e5;

    .sub_txt {
      margin-bottom: 15px;
      display: block;
    }

    .pro_label {
      width: 100px;
      display: inline-block;
    }

    .pro_search {
      width: calc(100% - 110px);
    }

    .sub_txt {

    }

    .btn {
      height: 40px;
      line-height: 40px;
    }

    label.mt15 {
      display: block;
    }

    .btn {
      border: 1px solid #dddddd;
      line-height: 40px;
      height: 40px;
      color: #666666;
      font-weight: bold;

      + .btn {
        margin-left: 10px;
      }

    }

  }

  .fileList {
    display: flex;
    flex-wrap: wrap;

    &__item {
      width: 20%;
      display: inline-block;
      margin: 20px 18px 0 0;
      font-size: 0;
      position: relative;

      img {
        width: 100%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }

      .delete {
        background: url("../images/customer/icon_delete.png");
        width: 25px;
        height: 25px;
        background-size: cover;
        position: absolute;
        right: -12px;
        top: -12px;
      }

      &Num {
        display: flex;
      }

    }
  }

}

.flexBox {
  display: flex;

  .col3 {
    width: 33.3%;

    + .col3 {
      margin-left: 10px;

    }
  }

  .col2 {
    width: 50%;

    + .col2 {
      margin-left: 10px;

    }
  }
}


.storePop {
  .contain {
    .sub_txt + .txt {
      margin-top: 5px;
    }

    p.txt {
      line-height: 18px;
      font-size: 14px;
      text-align: left;
      color: #666;
    }
  }

  .swiper-container {
    margin-top: 25px;
    padding-bottom: 45px;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }

  .slideNav {
    margin-top: 20px;
    text-align: center;
    position: relative;
    line-height: 22px;

    &__num {
      font-size: 0;

      span, i {
        font-size: 15px;
      }

      .current {
        color: #e7151d;
      }
    }
  }
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-button-prev,
.swiper-button-next {
  background: url("../images/common/icon_slide.png");
  background-size: cover;
  width: 12px;
  height: 22px;
  margin-top: 0;
  top: 0;
}


.jdxPopupWrapper.storePop {
  opacity: 0;
  display: block;
  z-index: -5;

  &.is-active {
    opacity: 1;
    z-index: 9999;
  }

}