@charset "UTF-8";

.selectList {
  width: 100%;
  position: relative;
  display: flex;

  select {
    width: 100%;
  }

  &.-default {
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      background: url("../images/customer/board_arrow.png");
      background-size: cover;
      width: 13px;
      height: 7px;
      top: 17px;
      z-index: 10;
      right: 15px;
    }
  }

  &.-bgGray {
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      background: url("../images/customer/icon_arrow_b.png");
      background-size: cover;
      width: 13px;
      height: 7px;
      top: 17px;
      z-index: 10;
      left: 57px;
    }

    select {
      background: #ededeb;
      border: 0;

    }

  }
  &.-myPage {
    text-align: right;
    display: inline-block;
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      background: url("../images/customer/board_arrow.png");
      background-size: cover;
      width: 13px;
      height: 7px;
      top: 17px;
      z-index: 10;
      right: 0;
    }
    select {
      border:0;
      width: auto;
      padding-right: 30px;
    }
  }
}
.inp {
  &.-disable {
    pointer-events: none;
    background: #eeeeee;
  }
}
.searchWrap {
  font-size: 0;
  padding: 15px 20px;
  background: #eeeeee;

  .inp {
    font-size: 14px;
    width: calc(100% - 70px);
    border: 1px solid #cccccc;
    background: #fff;
  }

  .searchBtn {
    width: 70px;
    background: #111111;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
  }
}

.cRed {
  color: #e7151d;
}

.cGray {
  color: #666;
}

.cGrayL {
  color: #999;
}

.caution {
  color: #e7151d;
  font-size: 13px;
  line-height: 20px;
  margin-top: 5px;

}

.alignL {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.-noMg {
  margin: 0 !important;
}

.-noPd {
  padding: 0 !important;
}

.brdT {
  border-top: 5px solid #eeeeee;
  padding-top: 40px;
}

.brd {
  border-top: 1px solid #eee;
}

.brdTs {
  border-top: 1px solid #eeeeee;
  padding-top: 40px;
}

.brdTm {
  border-top: 2px solid #111111;
  padding-top: 30px;
}
.brdTm2 {
  border-top: 1px solid #111111;
  padding-top: 5px;
}

.brdB {
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.sub_tit {
  text-align: center;
  line-height: 3.500em;
  font-size: 1.429em;
  font-weight: bold;
  color: #111;
}

.moreLink {
  border: 1px solid #ccc;
  padding: 5px 15px;
}

.subTit {
  font-size: 19px;
  font-weight: bold;
}

.sub_txt {
  font-size: 17px;
  font-weight: bold;
}

.m_tit {
  font-size: 15px;
  font-weight: bold;
}

.m_txt {
  font-size: 15px;
}

.s_txt {
  font-size: 13px;
}
.descTxt {
  font-size: 13px;
  color: #ccc;
}

.fBold {
  font-weight: bold;
}
.desc {
  font-size: 13px;
  color: #cccccc;

  &.-type02 {
    color: #666;
    position: relative;
    padding-left: 20px;

    &:after {
      content: "※";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;

    }
  }
}

.per100 {
  width: 100% !important;
}
.per50 {
  width: 50%;
}

textarea {
  padding: 15px 15px 0;
}

input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.inpFile {
  height: 40px;
  line-height: 40px;
  border: 1px solid #111;
  text-align: center;

  label {
    display: inline-block;
    font-weight: bold;

  }
}

.float_r {
  float: right;
}

.float_l {
  float: left;
}

.inpEct {
  line-height: 40px;
  margin: 0 5px;
}

.scrollBox {
  border: 1px solid #ccc;
  padding: 15px;
  height: 145px;
  overflow: scroll;
  color: #666666;

  .tit {
    color: #111;
    margin-bottom: 10px;
  }
}

.essen {
  vertical-align: middle;
  color: #e7151d;

}

.infoBox {
  padding: 25px;
  background: #eeeeee;
  text-align: center;

  h3 {
    font-size: 22px;
    font-weight: bold;
  }

  &.-left {
    text-align: left;
  }

  &__desc {
    color: #666;
    margin: 20px 25px;
  }
}

.inpBtn {
  font-size: 0;
  margin-top: 15px;

  .inp {
    width: calc(100% - 100px);
    display: inline-block !important;

    + .inp {
      margin-top: 10px;
    }
  }

  .btn {
    width: 100px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    vertical-align: bottom;
  }
}

.iconHelp {
  position: relative;
  vertical-align: middle;
  display: inline-block;

  &:before {
    content: "";
    @include icon_help
  }

  &:hover {
    .hoverTxt {
      display: block;
    }
  }

  &.-price {
    margin-left: 3px;

    &:before {
      content: "";
      @include icon_help2;
      vertical-align: sub;
    }

    .hoverTxt {
      right: auto;
      left: -46px;
      width: 210px;
      color: #111;

      .cRed {
        display: block;
        position: relative;
        padding-left: 15px;
        line-height: 16px;

        &:before {
          content: "※";
          display: inline-block;
          position: absolute;
          left: 0;
        }
      }

      &:before {
        content: "";
        @include icon_hoverTxt_top;
        top: -7px;
        left: 56px;
        right: auto;
        position: absolute;
      }
    }

  }
}

.smTxt {
  font-size: 12px;
  color: #666666;
}

.bigTxt {
  font-size: 23px;
  font-weight: bold;
}

.uline {
  color: #e5e5e5;
  display: inline-block;
  margin: 0 10px;
}
.underLine {
  text-decoration: underline;
}
.hoverTxt {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid #111;
  padding: 10px;
  width: 165px;
  z-index: 10;
  font-size: 12px;
  right: -28px;
  top: 30px;

  &:before {
    content: "";
    @include icon_hoverTxt_top;
    top: -7px;
    right: 33px;
    position: absolute;
  }

}

.cmmBox2 {
  padding: 0 25px;
}

.cmmBox {
  padding: 40px 25px 0;
  &.-small {
    padding: 30px 25px 0;
  }
}

.cmm {
  margin: 0 25px;
}

.dotList {
  li {
    position: relative;
    padding-left: 10px;

    + li {
      margin-top: 10px;
    }

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      background: #666666;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      left: 0;
      top: 7px
    }
  }

}
.txtWarp {
  position: relative;
  border:1px solid #cccccc;
  padding: 5px;
  textarea {
    border: 0;
    padding-top: 10px;
    padding-left: 10px;
  }
  &:after {
    content: "사진을 추가하시면 500M 더 드립니다";
    display: inline-block;
    width: 100%;
    background: #cccccc;
    color: #fff;
    text-align: center;
    bottom:5px;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
  }
}
.star {
  text-align: center;
 .icon_star {
   margin: 0 2px;
   &.-on {
     @include icon_star_full
   }
 }
}