@charset "UTF-8";

.popupContent {
  padding: 0 25px;
}

.tabNav {
  display: flex;
  justify-content: center;
  border-top: 1px solid #111111;
  border-bottom: 1px solid #999;
  padding: 20px 0;

  &__item {
    font-size: 16px;
    color: #999999;
    font-weight: bold;

    &.-active {
      color: #111111;
      border-bottom: 1px solid #111111;
      padding-bottom: 4px;

    }

    + .tabNav__item {
      margin-left: 40px;
    }

  }

  &.-type02 {
    border: 0;
  }
}

.delivery {

  &__item {
    padding: 25px 0;

    .btn {
      margin-top: 15px;
      line-height: 40px;
      height: 40px;
    }

    + .delivery__item {
      border-top: 1px solid #e5e5e5;
    }
  }
}

.coupon {
  &Title {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #111111;
    border-bottom: 1px solid #999;
    padding: 20px 0;
  }

  &__item {
    padding: 25px 0;

    + .coupon__item {
      border-top: 1px solid #e5e5e5;
    }
  }

  &Foot {
    background: #eeeeee;
    width: 100%;
    overflow: hidden;
    padding: 25px;
    position: absolute;
    bottom: 0;

    .inner {
      line-height: 31px;
    }

    .price {
      font-size: 23px;
      color: #e7151e;
      float: right;
    }
  }
}

.noTxt {
  text-align: center;
  color: #666666;
}

.bgGray {
  background: #eeeeee !important;
}

.op-c-chip {
  padding-top: 25px;
  .c-chip {
    display: inline-block;
  }

  input[type="radio"] {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: -1px;
    position: absolute;
    margin-right: 5px;

    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: #ccc;
      position: absolute;
      left: 5px;
      top: 5px
    }
  }

  label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .c-chip input[type="radio"]:checked + label:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;
    box-sizing: border-box;
  }
}

.op-s-chip {
  margin-top: 25px;
  .s-chip {
    display: inline-block;
  }

  input[type="radio"] {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: -1px;
    margin-right: 5px;
    position: absolute;
  }

  label {
    display: block;
    position: relative;
    width: 50px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #e0e0e0;
    background: #fff;
  }

  .s-chip input[type="radio"]:checked + label {
    color: #fff;
    background: #111;

  }
}


.myPage {
  .lineBox {
    font-size: 0;

    &Tit {
      font-size: 19px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    + .lineBoxTit {
      margin-top: 40px;
    }

    &__item {
      display: inline-block;
      text-align: center;
      border: 1px solid #e5e5e5;
      font-size: 14px;
      width: 50%;
      line-height: 57px;

      + .lineBox__item {
        margin-top: -1px;
      }

      &:nth-child(even) {
        margin-left: -1px;

      }

    }
  }

  &__rating {
    width: 100%;
    background: #111111;
    color: #fff;
    padding: 10px 20px;

    span {
      display: inline-block;
      line-height: 30px;
    }

    .avatar {
      img {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 100%;
        margin-right: 10px;
      }
    }

  }

  .orderNum {
    border-bottom: 1px solid #111111;
    padding-bottom: 25px;
    margin-bottom: 30px;

    &__tit {
      font-size: 17px;
      font-weight: bold;
    }

    &__prd {
      font-size: 15px;
      color: #e7151d;
      float: right;
      font-weight: bold;
    }

    &__date {
      font-size: 13px;
      color: #999999;
      text-align: right;
    }
  }

}

.popCoupon {
  .coupon {
    &__chk {
      position: absolute;
      left: 0;
    }

    &__item {
      position: relative;
      padding: 25px 40px;

      .tag {
        display: inline-block;
        width: 50px;
        height: 24px;
        line-height: 24px;
        font-size: 11px;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        background: #5bb6d2;
        vertical-align: top;
        margin-left: 5px;
      }
    }

    &__per {
      font-size: 23px;
      line-height: 23px;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: 10px;
    }

  }

}

.popOption {
  .cartList {
    padding: 0;
  }

  .cartItem {
    border-bottom: 1px solid #e5e5e5;
  }
}

.popList {
  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;

  }

  .btn {
    margin-bottom: 10px;
  }
}


.table {
  &.-auto {
  table-layout: auto !important;
}
  &.-middle {
    td,th {
      vertical-align: middle !important;
      text-align: left;
    }
  }
  &.-right {
    td {
      text-align: right;
    }
  }

  th, td {
    padding: 5px 0;
    vertical-align: top;
  }

  &.-type01 {
    th {
      text-align: left;
      vertical-align: top;
      color: #666666;
    }

    td {
      font-weight: bold;
      vertical-align: top;
    }
  }

  &.-type02 {
    table-layout: fixed;

    th {
      text-align: left;
      vertical-align: top;
    }

    td {
      text-align: right;
      font-weight: bold;
      vertical-align: top;
    }
  }

  &.-type03 {
    th {
      text-align: left;
      vertical-align: top;
      font-weight: bold;

    }

    td {
      vertical-align: top;
    }
  }

  &.-type04 {
    th, td {
      padding: 20px 0;
      vertical-align: top;
      border-bottom: 1px solid #eeeeee;
    }

    th {
      text-align: left;
      font-size: 17px;
      font-weight: bold;
      padding-right: 15px;

    }

    td {
      font-weight: bold;
      font-size: 15px;
    }
  }
}


.popup {
  .cartItem {
    table {
      margin-top: 30px;
    }
  }
}

table.grade {
  tr:first-of-type {
    td, th {
      border-top: 0;

    }
  }

  th, td {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;

  }

  th {
    text-align: left;
  }

  td {
    text-align: right;
    font-size: 23px;
    font-weight: bold;
  }

  .hoverTxt {
    width: 300px;
    left: -120px;
    top: 38px;
    right: auto;

    &:before {
      left: 130px;
      right: auto;
    }
  }
}
.inpDate {
  width: 40%;
  position: relative;
  background: #fff;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    right: 10px;
    @include icon_date;
  }
}
.ordertate-form {
  .ordertate-detail {
    .inpDate {
      width: 40%;
      position: relative;
      background: #fff;

      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        right: 10px;
        @include icon_date;
      }
    }

    .inp {
      width: 100%;
      font-size: 13px;
      position: relative;
    }

    .btn {
      width: 62px;
      height: 40px;
      line-height: 40px;
      margin-left: 10px;
    }


  }

  input[type="radio"] {
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: -1px;
    position: relative;
    margin-right: 5px;

    &:after {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: #ccc;
      position: absolute;
      left: 5px;
      top: 5px
    }
  }

  input[type="radio"]:checked + label {
    color: #111;
  }

  input[type="radio"]:checked + label:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px;
    left: -1px;
    border: 1px solid #111;
    z-index: 1;
  }

}


.ordertate {
  font-size: 0;
  width: 100%;

  span {
    width: 25%;
    margin-left: -1px;
    display: inline-block;


  }

  label {
    display: inline-block;
    position: relative;
    font-size: 14px;
    background: #fff;
    width: 100%;
    color: #999999;
    border: 1px solid #cccccc;
    height: 40px;
    line-height: 40px;

  }
}

.thumbList {
  font-size: 0;

  &__item {
    display: inline-block;
    width: 60px;
    height: 60px;

    img {
      width: 100%;
    }

    + .thumbList__item {
      margin-left: 10px;
    }
  }
}


.gradeList {
  margin-top: 30px;

  &__item {
    font-size: 0;

    + .gradeList__item {
      margin-top: 40px;
    }

    .img {
      width: 109px;
      display: inline-block;

    }

    .txt {
      font-size: 13px;
      vertical-align: middle;
      width: calc(100% - 109px);
      display: inline-block;

      strong {
        margin-bottom: 5px;
        display: inline-block;
      }
    }
  }
}

.mile {
  text-align: left;

  th {
    position: relative;
    vertical-align: top;
    padding-left: 30px !important;

    &:before {
      position: absolute;
      top: 21px;
      left: 0;
    }
  }

  .mile01 {
    &:before {
      content: "";
      @include icon_mil01
    }
  }

  .mile02 {
    &:before {
      content: "";
      @include icon_mil02
    }
  }

  .mile03 {
    &:before {
      content: "";
      position: absolute;
      @include icon_mil03;
    }
  }
  .mile04 {
    &:before {
      content: "";
      position: absolute;
      @include icon_mil04;
    }
  }
  .mile05 {
    &:before {
      content: "";
      position: absolute;
      @include icon_mil05;
    }
  }
}

.coupon {
  &.-noUse {
    table p {
      color: #999999;
    }
  }

  .bigTxt {
    font-size: 23px;
  }

  .smTxt {
    font-size: 12px;
  }

  table p {
    font-size: 14px;
  }
}

.review {
  .star {
    &.-small {
      text-align: left;
      margin-top: 20px;

      .icon_star {
        background: url("/images/sprite/icon_star.png");
        width: 15px;
        height: 15px;
        background-size: cover;

        &.-on {
          background: url("/images/sprite/icon_star_full.png");
          width: 15px;
          height: 15px;
          background-size: cover;

        }

      }
    }

  }

  .cartList.-myPage {
    .cartItem__detail {
      margin: 0 25px;
    }
  }

  .cartItem.-active {
    padding-bottom: 0;

    .cartReview {
      display: block;
    }
  }

  .cartReview {
    display: none;
    background: #eeeeee;
    padding: 25px;
    margin-top: 25px;

    .tit {
      font-size: 20px;
      font-weight: bold;
    }

    .txt {
      margin-top: 10px;
      font-size: 14px;
    }

    img {
      width: 100%;
    }

    .qaTit {
      position: relative;
      padding-left: 30px;

      &:before {
        content: "Q";
        display: inline-block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        top: 0;
        border-radius: 100%;
        background: #111;
        color: #fff;
        text-align: center;
      }
    }

    .qaAns {
      position: relative;
      padding-left: 30px;
      margin-top: 25px;

      &:before {
        content: "A";
        display: inline-block;
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        top: 0;
        border-radius: 100%;
        background: #e7151d;
        color: #fff;
        text-align: center;
      }
    }
  }
}

.qnaState {
  font-size: 11px;
  color: #666;
  border: 1px solid #666;
  border-radius: 5px;
  padding: 3px 5px;
  float: right;
  margin-top: -4px;

  &.-end {
    color: #e7151d;
    border: 1px solid #e7151d;
  }
}

.myContactList {
  &__item {
    padding: 15px 0;
    position: relative;
    border-bottom: 1px solid #eeeeee;
    &.-active {
      padding-bottom: 0;
      .cartReview {
        display: block;
      }
    }

    .qnaState {
      position: absolute;
      right: 15px;
      top: 45px;
    }
  }
}

.oderNum {
  font-size: 17px;
  margin-bottom: 30px;
  span {
    font-size: 15px;
    color:#e7151d;
    display: inline-block;
    margin-left: 10px;
  }

}

.withdrawalList {
  li {
    margin-top: 20px;
  }
}

.wishOpt {
  margin-top: 25px;
  padding: 0 25px  25px;
  background: #eee;
  .cartItem__optBtn {
    float: none;
  }
}