@charset "UTF-8";

.orderpop-contain {
  .ordertate-detail {
    .inp {
      width: 50%;
      display: inline-block;
    }

    .btn {
      min-width: 62px;
      width: auto;
      height: 40px;
      line-height: 40px;
      margin-left: 10px;
    }
  }
}

.order {
  .btnGroup {
    .btn {
      height: 35px;
      line-height: 32px;
      font-size: 13px;
      background: #fff;
    }
  }


}

.cart {
  &List {
    &.-noPrd {
      text-align: center;
    }

    &.-cmOrder {
      padding: 0 25px;
      .cartItem {
        padding: 25px 0;
        &__detail {
          margin: 0;
        }
        + .cartItem {
          border-top: 1px solid #eee;
        }
      }
      .cartItem__setList {
        padding: 0 25px;
        .cartItem__detail {
          width: 100%;
        }
      }

    }
    &.-free {
      padding: 0 25px;
     .cartItem {
       padding: 25px 0;
       &__chk {
         left: 0;
       }
       +.cartItem {
         border-top:1px solid #e5e5e5;
       }
     }
    }
    &.-myPage {

      .cartItem {
        padding: 25px 0;
        border-top:0;
        &__detail {
          margin: 0;
        }
        + .cartItem {
          border-top: 1px solid #eee;
        }
        &__setList {
          padding: 0 25px;
        }
      }

    }
  }

  &Item {
    position: relative;
    padding: 25px;
    border-top:1px solid #e5e5e5;
    + .cartItem {
      border-top: 5px solid #eeeeee;
    }

    &__detail {
      display: inline-block;
      font-size: 0;
      margin: 0 18px 0 37px;
    }

    &__chk {
      display: inline-block;
      vertical-align: top;
      position: absolute;
      top: 25px;
      left: 25px;

    }

    &__opt {
      background: #eeeeee;
      padding: 20px;
      text-align: right;
      overflow: hidden;
      margin-top: 25px;

      &Btn {
        float: left;
        width: 105px;
        height: 27px;
        line-height: 27px;
        border: 1px solid #111111;
        background: #fff;
        text-align: center;
        position: relative;

        button {
          width: 24px;
          position: absolute;
          top: 0;
          height: 100%;
          font-size: 0;
        }

        .addBtn {
          position: absolute;
          right: 0;

          &:before {
            content: "";
            @include icon_plus;
          }
        }

        .minusBtn {
          left: 0;

          &:before {
            content: "";
            @include icon_minus;

          }
        }
        &Num {
          vertical-align: middle;
          display: inline-block;
          margin-left: 5px;
        }
        &.-disable {
          background: #f5f5f5;
          color: #969696;
        }
      }

      &Price {
        font-weight: bold;
        font-size: 15px;

        small {
          display: block;
        }
      }
    }

    &__thumb {
      display: inline-block;
      width: 100px;
      height: 100px;
      vertical-align: top;
      margin-right: 15px;

      img {
        width: 100%;
        vertical-align: top;
        height: auto;
      }
    }

    &__info {
      display: inline-block;
      width: calc(100% - 115px);
      font-size: 13px;

      &Desc {
        font-size: 13px;
        color: #666666;
        position: relative;
      }

      &Name {
        small {
          display: block;
          font-size: 11px;
          color: #999999;
          line-height: 16px;
        }
      }

      &Tag {
        margin-bottom: 12px;

        .item {
          display: inline-block;
          width: 50px;
          height: 24px;
          line-height: 24px;
          font-size: 11px;
          color: #fff;
          text-align: center;
          border-radius: 5px;
          margin-bottom: 2px;

          &.-yellow {
            background: #f9ca53;
          }

          &.-red {
            background: #f98b79;
          }

          &.-blue {
            background: #7ac3b3;
          }
        }
      }

      &Opt {
        color: #666666;
        margin-top: 10px;

        span + span {
          &:before {
            content: "/";
            display: inline-block;
            margin: 0 2px;
          }

        }
      }

      .price {
        margin-top: 10px;
        font-weight: bold;
      }
    }

    &.-soldOut {
      &:before {
        content: "";
        left: 0;
        top: 0;
        position: absolute;
        background: #eeeeee;
        width: 100%;
        height: 100%;
        opacity: 0.6;
        z-index: 1;
      }

      .cartItem__chk, .cartItem__detail, .cartItem__opt {
        pointer-events: none;
      }

      .cartItem__infoOpt {
        display: none;
      }

      .optBtn {
        font-size: 0;
      }

      .optBtn:after {
        content: "품절";
        position: absolute;
        left: 0;
        top: 0;
        font-weight: bold;
        font-size: 12px;
        width: 50px;
        text-align: left;
        z-index: 2;
      }

    }


    &__setList {
      border: 1px solid #e5e5e5;
      margin-top: 25px;
      padding: 0 25px 0 37px;

      + .cartItem__opt {
        margin-top: 0;
      }

      .cartItem__detail {
        width: 100%;
        padding: 25px 0;
        margin: 0;

        + .cartItem__detail {
          border-top: 1px solid #e5e5e5;
        }
      }

      + .cartItem__opt {
        margin-top: 0;
      }

    }
  }
}


.payPrice {
  background: #576c86;
  color: #fff;
  padding: 25px;

  table {
    width: 100%;
    table-layout: fixed;
    font-size: 12px;
    line-height: 23px;

    th {
      text-align: left;
      color: #b4c5da;
    }

    td {
      text-align: right;
      color: #fff;
    }

    .total {
      font-size: 16px;

      th, td {
        color: #fff;
        padding-top: 10px;
      }
    }
  }
}

.payment {
  padding: 25px;

  .btn {
    border: 1px solid #dddddd;

    + .btn {
      margin-top: 10px;
    }
  }
}

.prdList {
  .cartItem__detail {
    margin-left: 0;
  }

  &.-int {
    .cartList {
      margin: 0 25px;
    }
    .cartItem {
      padding: 25px 0;
      +.cartItem {
        border-top:1px solid #eee;
      }
    }
    .deleteBtn {
      right: 0;
    }

    //관심상품
    .buyBtn {
      margin-top: 25px;
    }
  }
}

.line__title {
  margin: 0 25px;
  border-bottom: 2px solid #111111;
  padding-bottom: 15px;
  line-height: 21px;

  .tit {
    font-size: 19px;
    font-weight: bold;
  }

  .moreLink {
    float: right;
    color: #999999;
    border-bottom: 1px solid #999999;
  }

  &.-noMg {
    margin: 0;
  }
  &.-noSide {
    margin-left: 0;
    margin-right: 0;
  }
}


.deliveryInfo {
  margin-top: 40px;

  &__table {
    width: 100%;
    padding: 0 25px;
    table-layout: fixed;
    margin: 30px 0 40px;
    line-height: 25px;

    th {
      color: #666666;
      font-size: 13px;
      text-align: left;
      vertical-align: top;
      font-weight: bold;
    }
    td {
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.priceInfo {
  padding-top:25px;
  .btnGroup {
    margin:40px 25px 0;
    .btn {
      border:1px solid #dddddd;
      height: 50px;
      line-height: 50px;
      &.-black {
        border:1px solid #000;
      }
    }
  }

  table {
    border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
    th {
      text-align: left;
    }
    td {
      text-align: right;
    }
    th, td {
      padding-top: 10px;
      font-weight: bold;
    }

    .total {
      th {
        font-size: 16px;
        small {
          font-size: 12px;
        }
      }
      td {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

}

table.order__payment {
  td,td {
    padding: 10px 0;
  }
}


.sub_tit+.cartList {
  border-top:1px solid #e5e5e5;
}