@charset "UTF-8";

.popup {
  &.-price {
    .total {
      th {
        font-size: 16px;
        font-weight: bold;
        small {
          font-size: 12px;
        }
      }
      td {
        font-size: 20px;
        font-weight: bold;
      }
      &Confirm {
        th,td {
          color:#999999;
        }
        th {
          font-size:12px;
        }
        td {
          font-size:20px;
          font-weight: bold;
        }

      }
    }
  }
  .sub_txt {
    font-size:16px;
  }
}
