{{#sprites}}
  @mixin {{name}} {
  width: ({{px.width}}/2);
  height: ({{px.height}}/2);
  @include txtHidden();
  background-image: url("../images/sprite/sprite.png");
  background-position:({{px.offset_x}}/2) ({{px.offset_y}}/2);
  background-size:({{px.total_width}}/2) ({{px.total_height}}/2);
  vertical-align:middle;
  }
{{/sprites}}

{{#sprites}}
  .{{name}} {
  @include {{name}};
  }
{{/sprites}}


