@charset "UTF-8";

.btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  border:1px solid #111111;
  color: #111111;
  font-size:16px;
  background: #fff;
  &.-black {
    background: #000000;
    color:#fff;
    border:1px solid #000;

  }
  &.-red {
    background: #e7151d;
    color:#fff;
    border:1px solid #e7151d;

  }
  &.-small {
    margin: 0 auto;
    width: 105px;
    font-size:13px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    font-weight: bold;
  }
  &.-small2 {
    @extend .-small;
    width: 110px;
    height: 30px;
    line-height: 30px;
    border:1px solid #cccccc;
    font-size:14px;
    +.-small2 {
      margin-left: 5px;
    }
  }
  &.-small3 {
    @extend .-small;
    width: auto;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    border:1px solid #111111;
    font-size:14px;
  }

  &.-type01 {
    line-height: 40px;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
  }
  &.-gray {
    border:1px solid #dddddd;
    color: #666666;
  }



}

.btnGroup {
  display: flex;
  justify-content: space-around;
  .btn {
    width: 100%;
    +.btn {
      margin-left: 10px;
    }
    &.-black {
      background: #000;
    }
    &.-gray {
      border:1px solid #dddddd;
    }

  }
  &.-small {
    justify-content: center;
    .btn {
      width: 105px;
    }
  }
}


input[type="radio"] {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border:1px solid #ccc;
  position: relative;
  margin-right: 5px;
  &:after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #ccc;
    position: absolute;
    left: 5px;
    top:5px
  }
}
input[type="radio"]:checked  {
 &:after {
   background: #111;
 }
}
label+label {
  margin-left: 10px;
}

input[type="checkbox"] {
  display: inline-block;
  width: 27px;
  height: 27px;
  border:1px solid #ccc;
  position: relative;
  margin-right: 5px;
}
input[type="checkbox"]:checked  {
  background: url("../images/customer/icon_radio_chk.png");
  width: 27px;
  height: 27px;
  background-size: cover;
  &:after {
    background: #111;
  }
}

.optBtn {
  font-weight: bold;
  border-bottom: 1px solid #111;
  margin-top: 10px;
  padding-bottom: 3px;
  position: relative;
}
.buyBtn {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #111;
  font-weight: bold;
}
.deleteBtn {
  position: absolute;
  right: 25px;
  top: 25px;
  @include icon_delete;
  z-index: 10;

}


.prdQuick {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  bottom: 55px;
  z-index: 5000;

  .btn {
    width: 50%;
  }
  .btnHeart {
    width: 54px;
    font-size:0;
    border:1px solid #000;
    background: #fff;
    &:before {
      content: "";
      @include icon_heart();
    }
  }

}


