@charset "UTF-8";

.allMenu {
  display: none;
  width: 100%;
  text-align: center;
  position: absolute;
  background: #fff;
  z-index: 30;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;

  &__item {
    display: block;
    +.allMenu__item {
      margin-top: 20px;
    }
  }
}

.content_title {
  text-transform: uppercase;
  position: relative;
  &:after {
    content: "";
    display: inline-block;
    background: url("../images/common/icon_allmenu.png");
    width: 7px;
    height: 5px;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -3.5px;
    bottom:10px
  }
  &.-active {
    &:after {
      content: "";
      display: inline-block;
      background: url("../images/common/icon_allmenu.png");
      width: 7px;
      height: 5px;
      background-size: cover;
      position: absolute;
      left: 50%;
      margin-left: -3.5px;
      bottom:10px;
      transform: rotate(180deg);


    }
  }
}
