<nav class="allMenu">
  <a href="#this" class="allMenu__item">공지사항</a>
  <a href="#this" class="allMenu__item">FAQ</a>
  <a href="#this" class="allMenu__item">비회원주문조회</a>
  <a href="#this" class="allMenu__item">1:1 문의</a>
  <a href="#this" class="allMenu__item">중간관리자 모집</a>
  <a href="#this" class="allMenu__item">매장개설문의</a>
  <a href="#this" class="allMenu__item">이용약관</a>
  <a href="#this" class="allMenu__item">개인정보처리방침</a>
</nav>