<nav class="allMenu">
  <a href="#this" class="allMenu__item">마이페이지</a>
  <a href="#this" class="allMenu__item">나의 주문관리</a>
  <a href="#this" class="allMenu__item">나의 쇼핑리스트</a>
  <a href="#this" class="allMenu__item">나의 혜택</a>
  <a href="#this" class="allMenu__item">나의 활동</a>
  <a href="#this" class="allMenu__item">나의 정보</a>
</nav>