<footer>
  <div class="f_links">
    <ul>
      <li><a href="#">로그인<i></i></a></li>
      <!-- <li><a href="#">로그아웃<i></i></a></li> -->
      <li><a href="#">온라인 멤버십<i></i></a></li>
      <li><a href="#">고객센터<i></i></a></li>
      <li><a href="#">회사소개<i></i></a></li>
      <li><a href="#">중간관리자 안내<i></i></a></li>
      <li><a href="#">매장 개설문의<i></i></a></li>
    </ul>
  </div>

  <div class="f_dw_line">
    <div class="f_info">
      <b>(주)신한코리아</b>
      <p class="info">
        대표이사 : 김한철  /  주소 : 서울시 영등포구 버드나루로 14길9 JDX빌딩<br>
        전화 : 02-2635-2081  /  팩스 : 02-2635-2229  /  이메일 : <a href="mailto:info@jdx.co.kr">info@jdx.co.kr</a><br>
        개인정보관리책임자 : 김정수 / 통신판매신고번호 : 제2015-서울영등포-1295호<br>
        사업자등록번호 : 117-81-22280ss
        <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=&apv_perm_no=2015318016330201295" target="_blank" class="uline">사업자정보확인</a>
      </p>
      <p class="copy">ⓒJDX. ALL RIGHTS RESERVED.</p>
    </div>

    <div class="f_sns">
      <a href="#" target="_blank"><i class="bd_fb">페이스북</i></a>
      <a href="#" target="_blank"><i class="bd_blog">블로그</i></a>
      <a href="#" target="_blank"><i class="bd_kt">카카오톡</i></a>
      <a href="#" target="_blank"><i class="bd_ytb">유튜브</i></a>
      <a href="#" target="_blank"><i class="bd_insta">인스타그램</i></a>
    </div>
  </div>
</footer>