
<script type="text/javascript" src="../../js/jdx/jquery.min.js"></script>
<script type="text/javascript" src="../../js/jdx/vendor.js"></script>
<script type="text/javascript" src="../../js/jdx/common.js"></script>
<script src="../../js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../../js/main.js"></script>