@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
}

fieldset, img {
  border: 0 none
}

dl, ul, ol, menu, li {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: ''
}

input, select, textarea, button {
  vertical-align: middle
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer
}

body {
  background: #fff
}

body, th, td, input, select, textarea, button {
  font-family: 'notokr-regular', "sans-serif";
  color: #313131
}

a {
  color: #313131;
  text-decoration: none
}

i {
  font-style: normal
}

a:active, a:hover {
  text-decoration: none
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal
}

html {
  font-size: 9px
}

.clearFix {
  clear: both
}

.clearFix:before, .clearFix:after {
  content: " ";
  display: table
}

.clearFix:after {
  clear: both
}

.icon {
  position: relative;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: -9999px;
  white-space: nowrap;
  line-height: 0;
  vertical-align: middle
}

.txtHidden {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-indent: -9999px;
  white-space: nowrap;
  line-height: 0
}

.txtHide {
  position: fixed;
  width: 0;
  height: 0;
  display: block;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  opacity: 0
}